.main{
    display: flex;
    flex-direction: column;
    width: 542px;
}
.coursesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coursesHeaderBlock{
    display: flex;
    align-items: center;
}
.coursesHeaderBlock svg path{
    fill: #42a678;
}
.coursesHeaderBlock span{
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}
.coursesHeader a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 500;
}
.coursesHeader a:hover{
    text-decoration: underline;
}
.itemsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
}



@media screen and (max-width: 1440px){
    .main{
        width: 500px;
    }
}
@media screen and (max-width: 1279px){
    .main{
        width: 100%;
    }
}

@media screen and (max-width: 730px){
    .itemsList{
        overflow-x: scroll;
        max-height: 550px;
    }
}
