.main{
    width: 47%;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
}
.main img{
    width: 100%;
    height: 120px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.itemInfo{
    width: calc(100% - 20px);
    padding: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}
.main a{
    text-decoration: none;
}
.itemInfo label{
    margin-top: 4px;
    color: #757575;
    font-size: 12px;
    margin-bottom: 10px;
}
.itemInfo h2{
    font-size: 18px;
    color: #3d3d3d;
    margin-block-end: 30px;
    margin-block-start: 0;
    font-weight: 600;
}
.itemFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.status{
    color: #3d3d3d;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 17.5px;
    font-weight: 600;
    background-color: rgba(253, 200, 11, 0.25);
}
.inProgress{
    background-color: rgba(253, 200, 11, 0.25);
}
.completed{
    background-color: rgba(66, 166, 120, 0.25);
}
.time{
    color: #757575;
    font-size: 13px;
    font-weight: 700;  
}


@media screen and (max-width: 1440px){
    .main{
        width: 47%;
    }
}

@media screen and (max-width: 730px){
    .main{
        width: 100%;
    }
    .main img{
        height: 200px;
    }
}
@media screen and (max-width: 610px){
    .main img{
        height: 250px;
    }
}

@media screen and (max-width: 350px){
    .main img{
        height: 160px;
    }
}