.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 300;
    width: 192px;
}
.body{
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(90px - 32px);
}
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #bcbcbc;
    transform: rotate(180deg);
    transition-duration: 0.1s;
    align-self: flex-end;
    position: relative;
    top: 1px;
}
.innerArrow {
    position: relative;
    top: -15px;
    transform: rotate(-90deg);
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid white;
}
.body button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #585858;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.body button:hover span{
    text-decoration: underline;
}
.image{
    width: 22px;
}