/*
.cardBody{
  overflow: hidden;
}

.col {
  overflow: hidden;
}
*/
.rotationTimetable {
  overflow:scroll;
  max-height:656px
}



.subSpec {
  display:inline-block;
  margin:1px 3px 1px 0px;
  padding:3px 6px;
  border-radius: 5px;
}

/*
thead tr th {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

tbody tr th {
  position: -webkit-sticky; 
  position: sticky;
  left: 0;
}
*/

/* important styles */

.tableContainer {
  /* Attach fixed-th-table to this container,
     in order to layout fixed-th-table
     in the same way as scolled-td-table" */
  position: relative;
   
  /* Truncate fixed-th-table */
  overflow: hidden;
}

.fixedThTableWrapper td,
.fixedThTableWrapper th,
.scrolledTdTableWrapper td,
.scrolledTdTableWrapper th {
  /* Set background to non-transparent color
     because two tables are one above another.
   */
  background: white;
}

.fixedThTableWrapper {
  /* Make table out of flow */
  position: absolute;
  left:-1px;
}
.fixedThTableWrapper th {
   /* Place fixed-th-table th-cells above 
      scrolled-td-table td-cells.
    */
   position: relative;
   z-index: 1;
}
.scrolledTdTableWrapper td {
   /* Place scrolled-td-table td-cells
      above fixed-th-table.
    */
   position: relative;
}
.scrolledTdTableWrapper {
  /* Make horizonal scrollbar if needed */
  overflow-x: auto;
}


/* Simulating border-collapse: collapse,
  because fixed-th-table borders
  are below ".scrolling-td-wrapper table" borders
*/

.fixedThTableWrapper table {
  left:-2px;
}

.fixedThTableWrapper table, .scrolledTdTableWrapper table {
   border-spacing: 0;
}

.fixedThTableWrapper td, 
.fixedThTableWrapper th,
.fixedThTableWrapper td, 
.fixedThTableWrapper th {
  border-style: solid;
  border-color: #E9ECEF;
  border-width: 1px;
}
.fixedThTableWrapper th:first-child, .scrolledTdTableWrapper th:first-child {
  border-left-width: 1px;
}

.fixedThTableWrapper tr:last-child td,
.fixedThTableWrapper tr:last-child th,
.scrolledTdTableWrapper tr:last-child td,
.scrolledTdTableWrapper tr:last-child th  {
  border-bottom-width: 1px;
}
