.main{
    position: absolute;
    width: 820px;
    transform: translateY(100px) translateX(-743px); 
    display: flex;
    flex-direction: column;

}
.body{
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 16px;
    background-color: white;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #bcbcbc;
    transform: rotate(180deg);
    transition-duration: 0.1s;
    align-self: flex-end;
    position: relative;
    left: -50px;
    top: 1px;
}
.innerArrow {
    position: relative;
    top: -15px;
    left: -4.5px;
    transform: rotate(-90deg);
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid white;
}
.searchField{
    width: calc(100% - 10px);
    border: 2px solid #5bb98e;
    border-radius: 20px;
    padding: 3px;
    display: flex;
    align-items: center;

}
.searchField input{
    width: 95%;
    border: none;
    outline: none;
    height: 28px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #565656;
}
.searchField button{
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #a7a7a7;
    border: none;
    font-size: 18px;
}
.searchField button svg{
    position: relative;
    top: 3px;
}
.filters{
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}