.main{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    position: relative;
}
.main.error{
    color: tomato;
}
.error span{
    position: relative;
    top: 10px
}
.view{
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    height: calc(47px - 20px);
}
.view span{
    font-size: 16px;
    color: #565656;
    top: 0;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #9b9b9b;
    border-radius: 5px;
    transform: rotate(0deg);
    transition-duration: 0.2s;
}
.open{
    transform: rotate(180deg);
}

.option{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition-duration: .1s;
    font-size: 16px;
    color: #565656;
    top: 0 !important;
}
.option:hover{
    background-color: #5bb98e;
    color: white;
}

.dropdown{
    transform: translateY(-2px);
    max-height: 0;
    height: max-content;
    transition-duration: 0.3s;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0 0 5px 5px;
    border: 1px solid #c6c6c6;
    padding-top: 5px;
    padding-bottom: 5px;
}
.openDropdown{
    max-height: 200px;
    z-index: 100;
}
.disabled{
    color: rgba(86, 86, 86, .7);
}
.disabled:hover{
    cursor: auto;
    color: rgba(86, 86, 86, .7);
    background-color: white;
}
.detectClick{}

@media screen and (max-width: 693px){
    .main{
        width: 100%;
        margin-top: 10px;
    }
    .dropdown{
        z-index: 243;
    }
}