.main {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 178px;
}
.view {
  border: 1px solid #c6c6c6;
  border-radius: 27px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  height: calc(47px - 20px);
}
.view span {
  font-size: 16px;
  color: #565656;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #9b9b9b;
  border-radius: 5px;
  transform: rotate(0deg);
  transition-duration: 0.2s;
}
.open {
  transform: rotate(180deg);
}

.option {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition-duration: 0.1s;
  font-size: 16px;
  color: #565656;
}

.dropdown {
  transform: translateY(-2px);
  max-height: 0;
  height: max-content;
  transition-duration: 0.3s;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 178px;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  padding: 12px 16px 14px 16px;
}
.openDropdown {
  max-height: 200px;
  position: absolute;
  z-index: 1;
}

.margin0 {
  margin: 10px 0;
}

.filter {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 56px;
  color: #5b5b5b;
  font-weight: 500;
}
.filterText {
  position: relative;
  top: 3px;
}
.filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 5px;
  transition-duration: 0.3s;
  border: 1px solid #d9d9d9;
}

.filter:hover input ~ .checkmark {
  background-color: rgb(248, 248, 248);
}

.filter input:checked ~ .checkmark {
  background-color: #6671ab;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter input:checked ~ .checkmark:after {
  display: block;
}

.filter .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 693px) {
  .main {
    margin-top: 10px;
  }
  .dropdown {
    z-index: 2;
  }
}
