.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.activitiesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}
.activitiesHeaderBlock{
    display: flex;
    align-items: center;
}
.activitiesHeaderBlock svg path{
    fill: #42a678;
}
.activitiesHeaderBlock span{
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}
.activitiesHeader a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 500;
}
.activitiesHeader a:hover{
    text-decoration: underline;
}
.tabs{
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 20px;
}
.tab{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 7px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #3d3d3d;
    font-size: 18px;
    border-bottom: 4px solid transparent;
    transition-duration: .1s;
}
.activeTab{
    color: #42a678;
    font-weight: bold;
    border-bottom: 4px solid #42a678;
}
.tabsContainer{
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    box-sizing: border-box;
}

.itemsList{
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
}
.empty{
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 46px;
    padding-bottom: 46px;
}
.emptyIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ceeadd;
    border-radius: 50%;
}
.emptyIcon svg{
    position: relative;
    top: -3px;
}
.empty span{
    margin-top: 8px;
}