.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.activitiesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activitiesHeaderBlock{
    display: flex;
    align-items: center;
}
.activitiesHeaderBlock svg path{
    fill: #42a678;
}
.activitiesHeaderBlock span{
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.activitiesHeader a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 500;
}
.activitiesHeader a:hover{
    text-decoration: underline;
}
.itemsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
}