.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 300;
    width: 366px;
}
.body{
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 16px;
    background-color: white;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #bcbcbc;
    transform: rotate(180deg);
    transition-duration: 0.1s;
    align-self: flex-end;
    position: relative;
    top: 1px;
}
.innerArrow {
    position: relative;
    top: -15px;
    transform: rotate(-90deg);
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h3{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    color: #2f2f2f;
}
.header a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 500;
}
.header a:hover{
    text-decoration: underline;
}
.empty{
    margin-top: 10px;
}
.notifications{
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 300px;
}


.notifications::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}


.notifications::-webkit-scrollbar-track {
  background: transparent; 
  opacity: 0;
}
 

.notifications::-webkit-scrollbar-thumb {
  background-color: #f6f6f6;
}


.notifications::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}