.main{
    display: flex;
    flex-direction: column;
    width: 542px;
}
.coursesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coursesHeaderBlock{
    display: flex;
    align-items: center;
}
.coursesHeaderBlock svg path{
    fill: #42a678;
}
.coursesHeaderBlock span{
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}
.coursesHeader a{
    text-decoration: none;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 500;
}
.coursesHeader a:hover{
    text-decoration: underline;
}
.itemsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
}
.empty{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 46px;
    padding-bottom: 46px;
}
.emptyIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ceeadd;
    border-radius: 50%;
}
.emptyIcon svg{
    position: relative;
    top: -3px;
}
.empty span{
    margin-top: 8px;
}


@media screen and (max-width: 1440px){
    .main{
        width: 500px;
    }
}
@media screen and (max-width: 1279px){
    .main{
        width: 100%;
    }
}

@media screen and (max-width: 730px){
    .itemsList{
        overflow-x: scroll;
        max-height: 550px;
    }
}
